/* Nested and nested again */
$body-font-size: 14px;
$h1-tags: 16px;
$smaller-tags: 12px;

body {
    font-size: $body-font-size;
    h1 {
        font-size: $h1-tags;
        &.smaller {
            font-size: $smaller-tags;
        }
    }
}

